* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: auto !important;
}
$myColor: #3e5264;

.navigator {
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    height: 4.5em;
    color: white !important;
    background: $myColor;
    margin-bottom: 4em;
    h1, h3 {
        display: inline-block;
        h1 {
            font-weight: 700 !important;
        }
    }
    .title {
        margin-left: 4em;
    }
    .links {
        justify-self: flex-end;
        align-self: center;
        margin-right: 4em;
        h3 {
            margin: 0 1em;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}

.main-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-content: space-around;
    .text {
        margin-bottom: 2.6em;
        h1 {
            text-align: center;
            font-weight: 900 !important;
            font-size: 2.5em;
        }
        p {
            font-size: 1.2em;
            font-weight: 500;
            text-align: center;
        }
    }
    .input {
        width: 48vw;
        height: 3.5em;
        border: 1px solid black;
        display: flex;
        align-items: center;
        #password-view, div {
            display: inline-block;
            margin-left: 1.5em;
        }
        #password-view {
            cursor: pointer;
        }
        .editable {
            width: 100%;
            input {
                width: 100%;
                border: none;
                font-size: 1.2em;
            }
            input:focus {
                outline: none;
            }
            input[type=password]::-ms-reveal,
            input[type=password]::-ms-clear
            {
                display: none;
            }
        }
        .submit {
            margin-right: 1.5em;
            font-weight: 600;
            color: grey;
        }
        .submit:hover {
            cursor: pointer;
            color: #263647;
        }
    }
    .indicator {
        width: auto;
        height: auto;
        margin-top: -6px;
        margin-bottom: 10px;
        .level {
            display: inline-block;
            width: 15.8vw;
            height: 4px;
            background-color: grey;
        }
    }
    .characters {
        width: 48vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2.6em;
        div {
            display: inline-block;
        }
        .char-info {
            #upper, #lower, #number, #symbol {
                color: #e33f44;
                font-weight: 600;
            }
        }
    }
    .duration {
        margin-bottom: 3.5em;
        p, div {
            text-align: center;
        }
        h2 {
            padding: .4em;
            margin: 8px auto;
            background-color: #3e5264;
            color: white;
        }
    }
}

#tips-table {
    display: grid;
    width: 70vw;
    margin: auto;
    #header {
        background-color: $myColor;
        border: 1px solid black;
        color: white;
        padding: 1.3em;
        font-size: larger;
        font-weight: 700;
    }
    .tips {
        background-color: #f6fafd;
        border: 1px solid black;
        border-top: 0;
        padding: 1.3em;
        :nth-child(1) {
            color: #3871b8;
            font-weight: 600;
            margin-bottom: 5px;
        }
        :nth-child(2) {
            font-size: 90%;
        }
    }
    .tips:hover {
        background-color: #daeaf5;
    }
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    .icons {
        background-color: black;
        border-radius: 100%;
        padding: .5em .8em;
        margin: 1.2em;
        width: fit-content;
        a {
            font-size: 1.8em;
            text-decoration: none;
            color: white;
        }
    }
    .icons:nth-child(1) {
        background-color: #dd3e7c;
    }
    .icons:nth-child(3) {
        background-color: #0c78be;
    }
}

.footer-text {
    text-align: center;
    margin: -1.3em auto 4em auto;
    font-weight: 600;
    color: $myColor;
}

@media only screen and (max-width: 650px) and (min-width: 350px) {
    .navigator {
        margin-bottom: 2.5em;
        .title {
            margin-left: 0;
            width: 100vw;
            display: flex;
            justify-content: center;
            i {
                font-size: 1.8em;
                margin-top: 7px;
            }
            h1 {
                font-size: 1.8em;
            }
        }
        .links {
            display: none;
        }
    }
    .main-container {
        .text {
            h1 {
                font-size: 2em;
                margin: .4em .3em auto;
            }
            p {
                font-size: 1em;
                text-align: center;
                margin: .5em 1.7em -.4em;
            }
        }
        .input {
            width: 75vw;
            font-size: .9em;
            #password-view {
                margin-left: 1.2em
            }
            .submit {
                margin-right: 1.2em;
            }
        }
    }
    .indicator {
        width: auto;
        .level {
            width: 24.6vw !important;
        }
    }
    .characters {
        width: 75vw !important;
        flex-direction: column;
        justify-self: center;
        margin-bottom: 2em !important;
        .char-info {
            display: flex;
            flex-direction: column;
            .info-item {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 349px) {
    .navigator, .main-container, #tips-table, #footer, .footer-text {
        display: none;
    }
    body::before {
        content: 'Screen size not in range!!!';
        color: black;
        display: block;
        text-align: center;
        font-weight: 600;
        font-size: 1em;
    }
}